.subscribe-form h1 {
    font-size: 18px !important;
    letter-spacing: 6px !important;
    background-color: #ededed;
    padding: 5px 10px;
    text-align: center;
}

.subscribe-form p {
    color: #404040;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    text-align: center;
}